NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000

DATABASE_URL=postgresql://user:password@localhost:5432/synapse

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

